.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  
  width: 700px;
}

.container img {
  position: relative;
  width: 700px;
  text-align: center;

}
.container h1 {
  position: absolute;
  z-index: 1;
  color: white;
top:200px;


}
.artist-item {
  background-color: rgb(193, 184, 184);
  width: 700px;
  margin: auto;
}
.artist-item img {
  justify-content: center;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
h1,h2 {
  text-align: center;
}
.artist-name {
  background-color: rgb(121, 142, 175);
  width: 200px;
  position: absolute;
  z-index: 1;
  margin-top: -60px;
margin-left: 35px;
color: white;
}
.container-arist {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: rgb(236, 205, 205);
}
.container-arist p {
  padding: 0px 30px;
}
.container-arist img {
  width: 200px;
  margin: auto;
  padding-top: 20px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.image-container img {
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
